@{
    ViewData["Title"] = "AlipayDemo";
}
<div id="wrapper">

    <div id="header">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div id="tabs-api">
        <ul>
            <li><a href="#tabs-api-1">前言</a></li>
            <li><a href="#tabs-api-alipay">支付宝</a></li>
        </ul>
        <div id="tabs-api-1">
            <h3>支付平台 官方文档：</h3>
            <p>支付宝：<a href="https://openhome.alipay.com/developmentDocument.htm" target="_blank">文档中心</a>、<a href="https://open.alipay.com/support/supportCenter.htm" target="_blank">技术支持中心</a>、<a href="https://openclub.alipay.com/index.php" target="_blank">开发者社区</a></p>
            <h3>QQ交流群：</h3>
            <p><a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5tNcM72"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="大学生软件开发基地" title="大学生软件开发基地"></a></p>
            <h3>使用方式：</h3>
            <p>见示例项目：<a href="https://gitzab.com/Run2948/MvcPaySharp" target="_blank">@ViewData["Title"]</a></p>
        </div>

        <div id="tabs-api-alipay">
            <div id="tabs-purchase-alipay">
                <ul>
                    <li><a href="#tabs-purchase-1">电脑网站支付</a></li>
                    <li><a href="#tabs-purchase-2">手机网站支付</a></li>
                    <li><a href="#tabs-purchase-3">APP支付</a></li>
                    <li><a href="#tabs-purchase-4">小程序支付</a></li>
                    <li><a href="#tabs-purchase-5">扫码支付</a></li>
                    <li><a href="#tabs-purchase-6">条码支付</a></li>
                    <li><a href="#tabs-purchase-7">交易查询</a></li>
                    <li><a href="#tabs-purchase-8">交易退款</a></li>
                    <li><a href="#tabs-purchase-9">退款查询</a></li>
                    <li><a href="#tabs-purchase-10">交易撤销</a></li>
                    <li><a href="#tabs-purchase-11">交易关闭</a></li>
                    <li><a href="#tabs-purchase-12">单笔转账</a></li>
                    <li><a href="#tabs-purchase-13">转账查询</a></li>
                    <li><a href="#tabs-purchase-14">下载对账单</a></li>
                </ul>

                <div id="tabs-purchase-1">
                    <form class="api-form" action="/Alipay/WebPay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝电脑网站支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/270/alipay.trade.page.pay" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-2">
                    <form class="api-form" action="/Alipay/WapPay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝手机网站支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/203/107090/" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-3">
                    <form class="api-form" action="/Alipay/AppPay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝手机APP支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/204/105465/" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-4">
                    <form class="api-form" action="/Alipay/AppPay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝小程序支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/204/105465/" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-5">
                    <form class="api-form" action="/Alipay/ScanPay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝扫码支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.precreate" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-6">
                    <form class="api-form" action="/Alipay/BarcodePay" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>授权码：</label>
                            <input type="text" name="auth_code" value="">
                        </p>
                        <p>
                            <label>订单标题：</label>
                            <input type="text" name="subject" value="支付宝条码支付测试">
                        </p>
                        <p>
                            <label>总金额：</label>
                            <input type="text" name="total_amount" value="0.01" title="单位为元，精确至小数点后2位。">
                        </p>
                        <p>
                            <label>订单描述：</label>
                            <input type="text" name="body">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.pay" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-7">
                    <form class="api-form" action="/Alipay/Query" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.query" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-8">
                    <form class="api-form" action="/Alipay/Refund" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>退款号：</label>
                            <input type="text" name="out_request_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>退款金额：</label>
                            <input type="text" name="refund_amount">
                        </p>
                        <p>
                            <label>退款原因：</label>
                            <input type="text" name="refund_reason">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.refund" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-9">
                    <form class="api-form" action="/Alipay/RefundQuery" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>退款号：</label>
                            <input type="text" name="out_request_no">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.fastpay.refund.query" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-10">
                    <form class="api-form" action="/Alipay/Cancel" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.cancel/" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-11">
                    <form class="api-form" action="/Alipay/Close" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_1/alipay.trade.close" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-12">
                    <form class="api-form" action="/Alipay/Transfer" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
                        </p>
                        <p>
                            <label>收款方账户类型：</label>
                            <input type="text" name="payee_type" value="ALIPAY_LOGONID" title="1、ALIPAY_USERID：支付宝账号对应的支付宝唯一用户号。以2088开头的16位纯数字组成。 2、ALIPAY_LOGONID：支付宝登录号，支持邮箱和手机号格式。">
                        </p>
                        <p>
                            <label>收款方账户：</label>
                            <input type="text" name="payee_account" value="lmgnst2438@sandbox.com">
                        </p>
                        <p>
                            <label>转账金额：</label>
                            <input type="text" name="amount">
                        </p>
                        <p>
                            <label>备注：</label>
                            <input type="text" name="remark">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_28/alipay.fund.trans.toaccount.transfer" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-13">
                    <form class="api-form" action="/Alipay/TransferQuery" method="post" target="_blank">
                        <p>
                            <label>订单号：</label>
                            <input type="text" name="out_trade_no">
                        </p>
                        <p>
                            <label>支付宝订单号：</label>
                            <input type="text" name="trade_no">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_28/alipay.fund.trans.order.query" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

                <div id="tabs-purchase-14">
                    <form class="api-form" action="/Alipay/BillDownload" method="post" target="_blank">
                        <p>
                            <label>账单日期：</label>
                            <input type="text" name="bill_date" title="日账单格式为yyyy-MM-dd，月账单格式为yyyy-MM">
                        </p>
                        <p>
                            <label>账单类型：</label>
                            <input type="text" name="bill_type" value="trade" title="trade指商户基于支付宝交易收单的业务账单；signcustomer是指基于商户支付宝余额收入及支出等资金变动的帐务账单；">
                        </p>
                        <p>
                            <label>&nbsp;</label>
                            <input type="submit" class="button" value="提交">
                        </p>
                    </form>
                    <hr />
                    <p class="faq">
                        <a href="https://docs.open.alipay.com/api_15/alipay.data.dataservice.bill.downloadurl.query" target="_blank">* 查看接口 请求参数、响应参数</a>
                    </p>
                </div>

            </div>
        </div>

    </div>

    @section Scripts {
        <script src="~/Content/demo.js"></script>
    }

    @section Styles {
        <link rel="stylesheet" href="~/Content/demo.css">
    }
</div>
